@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Shippori Mincho B1", serif;
  list-style: none;
}
.landing {
  font-weight: 800;
  font-style: normal;
}
